$background-chat: #f3f3f3;
$dimgray: dimgray;
$white: white;
$fontFamily: 'Lato', Arial, sans-serif;
$fontSize: 16px;

.main {
  position: absolute;
  left: 30px;
}
.chat-container {
  display: flex;
}
.chat {
  a {
    color: $white;
    text-decoration: none;
  }
}

.chat {
  margin-right: 20px;
  font-size: $fontSize;
  font-family: $fontFamily;
}

.chat .chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: dimgray;
  color: $white;
  padding: 0 6px 0 6px;
}

.chat .chat-history {
  background: $background-chat;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  height: 200px;
}

.chat .chat-history .text {
  width: 90%;
  padding: 5px 5px;
  color: $white;
  margin: 5px 5px;
  font-size: 14px;
}

.chats {
  display: flex;
  flex-direction: row;
  height: auto;
  border: 1px #ccc solid;
  width: 133px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: $fontSize;
  line-height: 26px;
  background-color: dimgray;
}

.chats a {
  color: $white;
  font-size: $fontSize;
  font-family: $fontFamily;
}

.message-list .time {
  font-size: 9px;
  width: 21px;
  color: darkgray;
}

.mine {
  background: #86bb71;
}

.their {
  background: #87cefa;
}
